{{ form_start(seizureForm) }}
    {{ form_errors(seizureForm) }}
    {{ form_row(seizureForm.title, {'label': 'Anfallstitel'}) }}
    {{ form_row(seizureForm.description, {'label': 'Beschreibung'}) }}
    {{ form_row(seizureForm.timestamp_when, {'label': 'Anfallszeitpunkt'}) }}
    {{ form_row(seizureForm.seizuretype, {'label': 'Anfallstyp'}) }}
<button class="btn btn-primary">{{ button_text }}</button>
{{ form_end(seizureForm) }}