<!DOCTYPE html>
<html lang="de">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="Bei epilepc.ch findest du sämtliche Werkzeuge und Tools, welche du benötigst um deine Epilepsie-Behandlung effektiv und sicher zu begleiten!"/>
        <meta name="google-site-verification" content="vsAN2S_WxCAVkKug_CtoXwc_LWoo3VzVPZH21KsDUb8" />
        <meta property="og:title" content="epilepc - Hilf dir bei Epilepsie!"/>
        <meta property="og:url" content="https://www.epilepc.ch"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://www.epilepc.ch/landing/images/small.png"/>
        <meta property="og:description" content="Bei epilepc.ch findest du sämtliche Werkzeuge und Tools, welche du benötigst um deine Epilepsie-Behandlung effektiv und sicher zu begleiten!"/>
        <meta property="og:updated_time" content="1559635102"/>
        <meta property="og:image:alt" content="epilepc"/>
        <title>{% block title %}Epilepc - {% trans %}Dashboard{% endtrans %}{% endblock %}</title>

        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="{{ asset('application/vendor/fontawesome-free/css/all.css') }}" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <!-- Custom styles for this template-->
            <link href="{{ asset('application/css/sb-admin-2.css') }}" rel="stylesheet">
            <link rel="shortcut icon" type="image/png" href="{{ asset('landing/images/favicon.ico') }}"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
        {% endblock %}
        {% block zusStylesheets %}
        {% endblock %}

    </head>

    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_dashboard') }}">
                <img src="{{ asset('application/img/epilepc-head.png') }}" style="width: 90%"/>

            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item{% if app.request.get('_route') == 'app_dashboard' %} active {% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{% trans %}Dashboard{% endtrans %}</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans %}Deine Daten{% endtrans %}
            </div>
            <!-- Nav Item - Seizures Collapse Menu -->
            <li class="nav-item seizure{% if app.request.get('_route') == 'seizure_index' or app.request.get('_route') == 'seizure_new' %} active {% endif %}">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseSeizures" aria-expanded="true" aria-controls="collapseSeizures">
                    <i class="fas fa-fw fa-bolt"></i>
                    <span>{% trans %}Anfälle{% endtrans %}</span>
                </a>
                <div id="collapseSeizures" class="collapse" aria-labelledby="headingSeizures" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans %}Anfall Funktionen{% endtrans %}</h6>
                        <a class="collapse-item" href="{{ path('seizure_new') }}">{% trans %}Neuer Anfall{% endtrans %}</a>
                        <a class="collapse-item" href="{{ path('seizure_index') }}">{% trans %}Alle anzeigen{% endtrans %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Events Collapse Menu -->
            <li class="nav-item{% if app.request.get('_route') == 'event_index' or app.request.get('_route') == 'event_new' %} active {% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">
                    <i class="fas fa-fw fa-exclamation-triangle"></i>
                    <span>{% trans %}Ereignisse{% endtrans %}</span>
                </a>
                <div id="collapseEvents" class="collapse" aria-labelledby="headingEvents" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans %}Ereignis Funktionen{% endtrans %}</h6>
                        <a class="collapse-item" href="{{ path('event_new') }}">{% trans %}Neues Ereignis{% endtrans %}</a>
                        <a class="collapse-item" href="{{ path('event_index') }}">{% trans %}Alle anzeigen{% endtrans %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Diary Collapse Menu -->
            <li class="nav-item{% if app.request.get('_route') == 'diaryentry_index' or app.request.get('_route') == 'diaryentry_new' %} active {% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDiary" aria-expanded="true" aria-controls="collapseDiary">
                    <i class="fas fa-fw fa-book"></i>
                    <span>{% trans %}Tagebuch{% endtrans %}</span>
                </a>
                <div id="collapseDiary" class="collapse" aria-labelledby="headingDiary" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans %}Tagebuch Funktionen{% endtrans %}</h6>
                        <a class="collapse-item" href="{{ path('diaryentry_new') }}">{% trans %}Neuer Tagebucheintrag{% endtrans %}</a>
                        <a class="collapse-item" href="{{ path('diaryentry_index') }}">{% trans %}Alle anzeigen{% endtrans %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Medication Collapse Menu -->
            <li class="nav-item{% if app.request.get('_route') == 'medication_index' or app.request.get('_route') == 'medication_new' %} active {% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMeds" aria-expanded="true" aria-controls="collapseDiary">
                    <i class="fas fa-fw fa-prescription-bottle"></i>
                    <span>{% trans %}Medikation{% endtrans %}</span>
                </a>
                <div id="collapseMeds" class="collapse" aria-labelledby="headingMeds" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans %}Medikation Funktionen{% endtrans %}</h6>
                        <a class="collapse-item" href="{{ path('medication_new') }}">{% trans %}Neue Medikation{% endtrans %}</a>
                        <a class="collapse-item" href="{{ path('medication_index') }}">{% trans %}Alle anzeigen{% endtrans %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Overview -->
            <li class="nav-item{% if app.request.get('_route') == 'app_overview' %} active {% endif %}">
                <a class="nav-link" href="{{ path('app_overview') }}">
                    <i class="fas fa-fw fa-eye"></i>
                    <span>{% trans %}Übersicht{% endtrans %}</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans %}Benutzer{% endtrans %}
            </div>
            <!-- Nav Item - Diary Collapse Menu -->
            <li class="nav-item{% if app.request.get('_route') == 'app_account' %} active {% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="true" aria-controls="collapseAccount">
                    <i class="fas fa-fw fa-user"></i>
                    <span>{% trans %}Profil{% endtrans %}</span>
                </a>
                <div id="collapseAccount" class="collapse" aria-labelledby="headingAccount" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans %}Benutzeraccount{% endtrans %}</h6>
                        <a class="collapse-item" href="{{ path('app_account') }}">{% trans %}Profil anzeigen{% endtrans %}</a>
                        <a class="collapse-item" href="{{ path('app_change_password') }}">{% trans %}Passwort ändern{% endtrans %}</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if is_granted('ROLE_ADMIN') %}
                <!-- Heading -->
                <div class="sidebar-heading">
                    {% trans %}Adminbereich{% endtrans %}
                </div>
                <!-- Nav Item - Admin Collapse Menu -->
                <li class="nav-item{% if app.request.get('_route') == 'admin_user_index' %} active {% endif %}">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                        <i class="fas fa-fw fa-crown"></i>
                        <span>{% trans %}Adminbereich{% endtrans %}</span>
                    </a>
                    <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">{% trans %}Administrator Funktionen{% endtrans %}</h6>
                            <a class="collapse-item" href="{{ path('admin_user_index') }}">{% trans %}Benutzerverwaltung{% endtrans %}</a>
                            <a class="collapse-item" href="{{ path('seizuretype_index') }}">{% trans %}Anfallstypen pflegen{% endtrans %}</a>
                        </div>
                    </div>
                </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            {% endif %}


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        <span>{% trans %}Ausloggen{% endtrans %}</span></a>
                </li>
            </div>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mr-2 fa fa-language"></i>
                                <span class="mr-3 d-none d-lg-inline text-gray-600 small">{% trans %}Sprache ändern{% endtrans %}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">
                                    <i class="fas fa-beer fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Deutsch{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                    <i class="fas fa-flag-usa fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Englisch{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}">
                                    <i class="fas fa-pizza-slice fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Italienisch{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                    <i class="fas fa-glass-martini fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {%  trans %}Französisch{% endtrans %}
                                </a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-3 d-none d-lg-inline text-gray-600 small">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                <i class="mr-2 fa fa-user"></i>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('app_account') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Profil anzeigen & bearbeiten{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_change_password') }}">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Passwort ändern{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Ausloggen{% endtrans %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                    {% block body %}

                    {% endblock %}
                </div>
                <!-- End Page Content -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; {{ "now"|date("Y") }} - epilepc</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans %}Fertig?{% endtrans %}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{% trans %}Wähle "Ausloggen" aus, wenn du bereit bist, die aktuelle Sitzung zu beenden{% endtrans %}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans %}Abbrechen{% endtrans %}</button>
                        <a class="btn btn-primary" href="{{ path('app_logout') }}">{% trans %}Ausloggen{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% block javascripts %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('application/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('application/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ asset('application/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('application/vendor/jquery-ui/jquery-ui.js') }}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ asset('application/js/sb-admin-2.js') }}"></script>
        <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/webshim@1.16.0/js-webshim/minified/polyfiller.min.js"></script>
        <script>
            webshims.setOptions('waitReady', false);
            webshims.setOptions('forms-ext', {types: 'datetime-local'});
            webshims.polyfill('forms forms-ext');
        </script>

    {% endblock %}

    <script type="text/javascript">
    {% block jsCharts %}
    {% endblock %}
    </script>
    </body>

</html>
