<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Epilepc - Dashboard{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="{{ asset('application/vendor/fontawesome-free/css/all.css') }}" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <!-- Custom styles for this template-->
            <link href="{{ asset('application/css/sb-admin-2.css') }}" rel="stylesheet">
            <link rel="shortcut icon" type="image/png" href="{{ asset('landing/images/favicon.ico') }}"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
        {% endblock %}
        {% block zusStylesheets %}
        {% endblock %}

    </head>

    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_dashboard') }}">
                <img src="{{ asset('application/img/epilepc-head.png') }}" style="width: 90%"/>

            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Deine Daten
            </div>
            <!-- Nav Item - Seizures Collapse Menu -->
            <li class="nav-item seizure">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeizures" aria-expanded="true" aria-controls="collapseSeizures">
                    <i class="fas fa-fw fa-bolt"></i>
                    <span>Anfälle</span>
                </a>
                <div id="collapseSeizures" class="collapse" aria-labelledby="headingSeizures" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Anfall Funktionen</h6>
                        <a class="collapse-item" href="{{ path('seizure_new') }}">Neuer Anfall erfassen</a>
                        <a class="collapse-item" href="{{ path('seizure_index') }}">Alle anzeigen</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Events Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">
                    <i class="fas fa-fw fa-exclamation-triangle"></i>
                    <span>Ereignisse</span>
                </a>
                <div id="collapseEvents" class="collapse" aria-labelledby="headingEvents" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Ereignis Funktionen</h6>
                        <a class="collapse-item" href="{{ path('event_new') }}">Neues Ereignis</a>
                        <a class="collapse-item" href="{{ path('event_index') }}">Alle anzeigen</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Diary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDiary" aria-expanded="true" aria-controls="collapseDiary">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Tagebuch</span>
                </a>
                <div id="collapseDiary" class="collapse" aria-labelledby="headingDiary" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tagebuch Funktionen</h6>
                        <a class="collapse-item" href="{{ path('diaryentry_new') }}">Neuer Tagebucheintrag</a>
                        <a class="collapse-item" href="{{ path('diaryentry_index') }}">Alle anzeigen</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Medication Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMeds" aria-expanded="true" aria-controls="collapseDiary">
                    <i class="fas fa-fw fa-prescription-bottle"></i>
                    <span>Medikation</span>
                </a>
                <div id="collapseMeds" class="collapse" aria-labelledby="headingMeds" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Medikation Funktionen</h6>
                        <a class="collapse-item" href="{{ path('medication_new') }}">Neue Medikation</a>
                        <a class="collapse-item" href="{{ path('medication_index') }}">Alle anzeigen</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Overview -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_overview') }}">
                    <i class="fas fa-fw fa-eye"></i>
                    <span>Übersicht</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Benutzer
            </div>
            <!-- Nav Item - Diary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="true" aria-controls="collapseAccount">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profil</span>
                </a>
                <div id="collapseAccount" class="collapse" aria-labelledby="headingAccount" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Benutzeraccount</h6>
                        <a class="collapse-item" href="{{ path('app_account') }}">Profil anzeigen</a>
                        <a class="collapse-item" href="{{ path('app_change_password') }}">Passwort ändern</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if is_granted('ROLE_ADMIN') %}
                <!-- Heading -->
                <div class="sidebar-heading">
                    Adminbereich
                </div>
                <!-- Nav Item - Diary Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                        <i class="fas fa-fw fa-crown"></i>
                        <span>Adminbereich</span>
                    </a>
                    <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Administrator Funktionen</h6>
                            <a class="collapse-item" href="{{ path('app_useradmin_index') }}">Benutzerverwaltung</a>
                            <a class="collapse-item" href="{{ path('seizuretype_index') }}">Anfallstypen pflegen</a>
                        </div>
                    </div>
                </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            {% endif %}


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        <span>Ausloggen</span></a>
                </li>
            </div>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-3 d-none d-lg-inline text-gray-600 small">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                <i class="mr-2 fa fa-user"></i>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('app_account') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil anzeigen
                                </a>
                                <a class="dropdown-item" href="{{ path('app_change_password') }}">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Passwort ändern
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ausloggen
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% block body %}

                    {% endblock %}
                </div>
                <!-- End Page Content -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; 2019 - epilepc</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fertig?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Wähle "Ausloggen" aus, wenn du bereit bist die aktuelle Sitzung zu beenden.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbrechen</button>
                        <a class="btn btn-primary" href="{{ path('app_logout') }}">Ausloggen</a>
                    </div>
                </div>
            </div>
        </div>
    {% block javascripts %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('application/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('application/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ asset('application/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ asset('application/js/sb-admin-2.js') }}"></script>
        <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    {% endblock %}

    <script type="text/javascript">
    {% block jsCharts %}

    {% endblock %}
    </script>
    </body>

</html>