{% extends 'base.html.twig' %}

{% block title %}Seizure{% endblock %}

{% block body %}
    <h1>Seizure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seizure.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ seizure.description }}</td>
            </tr>
            <tr>
                <th>Timestamp_when</th>
                <td>{{ seizure.timestampWhen ? seizure.timestampWhen|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ seizure.modifiedAt ? seizure.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ seizure.createdAt ? seizure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seizure_index') }}">back to list</a>

    <a href="{{ path('seizure_edit', {'id': seizure.id}) }}">edit</a>

    {{ include('seizure/_delete_form.html.twig') }}
{% endblock %}
