{% extends 'base.html.twig' %}

{% block title %}Diaryentry index{% endblock %}

{% block body %}
    <h1>Diaryentry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Timestamp_when</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diaryentry in diaryentries %}
            <tr>
                <td>{{ diaryentry.id }}</td>
                <td>{{ diaryentry.title }}</td>
                <td>{{ diaryentry.content }}</td>
                <td>{{ diaryentry.timestampWhen ? diaryentry.timestampWhen|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ diaryentry.createdAt ? diaryentry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ diaryentry.modifiedAt ? diaryentry.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('diaryentry_show', {'id': diaryentry.id}) }}">show</a>
                    <a href="{{ path('diaryentry_edit', {'id': diaryentry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diaryentry_new') }}">Create new</a>
{% endblock %}
