{{ form_start(userForm) }}
    {{ form_errors(userForm) }}
    {{ form_row(userForm.firstname, {'label': 'Vorname'}) }}
    {{ form_row(userForm.lastname, {'label': 'Nachname'}) }}
    {{ form_row(userForm.email, {'label': 'Email'}) }}
<button class="btn btn-primary">{{ button_text }}</button>
{{ form_end(userForm) }}