{% extends 'app/base.html.twig' %}

{% block title %}Epilepc - Benutzer anzeigen{% endblock %}

{% block body %}
<!-- Page Heading -->
<div class="mb-5">
    <div class="text-center">
        <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Benutzer #{{ user.id }} anzeigen</h1>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive p-1">
                <form>
                    <div class="form-group">
                        <label for="firstname">Vorname</label>
                        <input type="text" class="form-control" id="firstname" value="{{ user.firstname }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Nachname</label>
                        <input type="text" class="form-control" id="lastname" value="{{ user.lastname }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" value="{{ user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="AgreedTermsDate">Registrierungsdatum</label>
                        <input type="text" class="form-control" id="AgreedTermsDate" value="{{ user.agreedTermsAt ? user.agreedTermsAt|date('d.m.Y H:i') : '' }} Uhr" readonly>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary"><a style="color: #FFFFFF" href="{{ path('admin_user_edit', {'id': user.id}) }}">Bearbeiten</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}