{% extends 'app/authentication/base.html.twig' %}
{% form_theme registrationForm _self %}



{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {#{{- form_label(form) -}}#}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{%- endblock form_row -%}
{% block title %}Epilepc - {% trans %}Registrieren{% endtrans %}{% endblock %}
{% block _user_registration_form_agreeTerms_row %}
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            {{ form_errors(form) }}
            <input type="checkbox" name="{{ full_name }}" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">
                {% trans %}Ich stimme den{% endtrans %}

                <a href="#" data-toggle="modal" data-target="#TermsModal">
                    {% trans %}Nutzungsbedingungen{% endtrans %}
                </a>
                {% trans %}von epilepc.ch zu{% endtrans %}</label>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% trans %}Registriere dich jetzt{% endtrans %}!</h1>
                </div>

                {{ form_start(registrationForm, {
                    attr: { class: 'user' }
                }) }}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form_row(registrationForm.firstname, {
                            attr: { class: 'form-control-user', placeholder: 'Vorname'|trans}
                        }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(registrationForm.lastname, {
                            attr: { class: 'form-control-user', placeholder: 'Nachname'|trans}
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email, {
                        attr: { class: 'form-control-user', placeholder: 'Email-Adresse'|trans}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        attr: { class: 'form-control-user', placeholder: 'Passwort'|trans}
                    }) }}
                </div>

                {{ form_row(registrationForm.agreeTerms) }}
                <style>
                    ul {
                        margin: 0;
                    }
                    ul.dashed {
                        list-style-type: none;
                    }
                    ul.dashed > li {
                        text-indent: -5px;
                    }
                    ul.dashed > li:before {
                        content: "-";
                        text-indent: -5px;
                    }
                </style>
                <div class="form-group">
                    <p>{% trans %}Um die Sicherheit deiner Daten gewährleisten zu können, muss dein Passwort die folgenden Anforderungen erfüllen{% endtrans %}:</p>
                    <ul class="dashed">
                        <li> {% trans %}Gross- und Kleinschreibung{% endtrans %}</li>
                        <li> {% trans %}Mindestens 2 Zahlen{% endtrans %}</li>
                        <li> {% trans %}Mindestens 1 Sonderzeichen (z.b. $#*){% endtrans %}</li>
                        <li> {% trans %}Mindestlänge des Passworts - 8 Zeichen{% endtrans %}</li>
                    </ul>
                </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">{% trans %}Account erstellen{% endtrans %}</button>
                {{ form_end(registrationForm) }}

                <hr>
                <div class="text-center">
                    <a class="small" href="{{ path('app_login') }}">{% trans %}Account bereits erstellt? Log dich jetzt ein{% endtrans %}!</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{{ path('app_forgot-password') }}">{% trans %}Passwort vergessen{% endtrans %}</a>
                </div>
                <br />
                <div class="text-center">
                    <a class="small" href="{{ path('app_landingpage') }}">{% trans %}Zurück{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TermsModalLabel">{% trans %}Nutzungsbedingungen - epilepc{% endtrans %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% trans %}datenschutzerklärung_part{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans %}Zurück{% endtrans %}</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
