{{ form_start(medicationForm) }}
    {{ form_errors(medicationForm) }}
    {{ form_row(medicationForm.name, {'label': 'Medikationsname'|trans}) }}
    {{ form_row(medicationForm.description, {'label': 'Beschreibung'|trans,
        'attr': {
            'rows': '10'
        }})
    }}
    {{ form_row(medicationForm.dosage, {'label': 'Dosierung'|trans}) }}
    {{ form_row(medicationForm.date_from, {'label': 'Einnahme Start'|trans}) }}
    {{ form_row(medicationForm.date_to, {'label': 'Einnahme Ende'|trans}) }}
    {{ form_row(medicationForm.timestamp_prescription, {'label': 'Verschreibungsdatum'|trans}) }}

<button class="btn btn-primary">{{ button_text }}</button>
{{ form_end(medicationForm) }}
