{% extends 'app/base.html.twig' %}

{% block title %}epilepc - Medikation anzeigen{% endblock %}

{% block body %}
<!-- Page Heading -->
<div class="mb-5">
    <div class="text-center">
        <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Medikation "{{ medication.name}}" anzeigen</h1>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive p-1">
                <form>
                    <div class="form-group">
                        <label for="MedicationTitle">Medikationsname</label>
                        <input type="text" class="form-control" id="MedicationTitle" value="{{ medication.name }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="MedicationDescription">Beschreibung</label>
                        <textarea class="form-control" id="MedicationDescription" readonly rows="6">{{ medication.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="MedicationDosage">Dosierung</label>
                        <input type="text" class="form-control" id="MedicationDosage" value="{{ medication.dosage }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="MedicationDateFrom">Einnahme Start</label>
                        <input type="text" class="form-control" id="MedicationDateFrom" value="{{ medication.dateFrom ? medication.dateFrom|date('d.m.Y H:i') : '' }} Uhr" readonly>
                    </div>
                    <div class="form-group">
                        <label for="MedicationDateEnd">Einnahme Ende</label>
                        <input type="text" class="form-control" id="MedicationDateEnd" value="{{ medication.dateTo ? medication.dateTo|date('d.m.Y H:i') : '' }} Uhr" readonly>
                    </div>
                    <div class="form-group">
                        <label for="MedicationPrescriptionDate">Verschreibungsdatum</label>
                        <input type="text" class="form-control" id="MedicationPrescriptionDate" value="{{ medication.timestampPrescription ? medication.timestampPrescription|date('d.m.Y') : ''  }}" readonly>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary"><a style="color: #FFFFFF" href="{{ path('medication_edit', {'id': medication.id}) }}">Bearbeiten</a></button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                locale: 'de'
            });
        });
    </script>
{% endblock %}