{% extends 'landing/base.html.twig' %}

{% block body %}

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/#intro" class="active">Wieso epilepc</a></li>
            <li><a href="/#first">Funktionen</a></li>
            <li><a href="/#second">Sicherheit</a></li>
            <li><a href="/#cta">Los gehts</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <section class="main special">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Kontaktformular</h2>
                    </header>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <p>Habt Ihr Fragen? Anregungen? Unklarheiten? Möchtet euch sonst einbisschen unterhalten?<br/>Dann schreibt uns!</p>

                        {{ form_start(contactForm) }}
                        <div class="row gtr-uniform">
                            {{ form_errors(contactForm) }}
                            <div class="col-6 col-12-xsmall">
                            {{ form_row(contactForm.name, {'attr': {'placeholder': 'Name'} }) }}
                            </div>
                            <div class="col-6 col-12-xsmall">
                                {{ form_row(contactForm.from, {'label': 'Email', 'attr': {'placeholder': 'Email'} }) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(contactForm.thema, {'label': 'Thema'}) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(contactForm.copy, {'label': 'Schick mir eine Kopie'}) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(contactForm.message, {'label': 'Nachricht',
                                    'attr': {
                                        'rows': '10'
                                    }})
                                }}
                                {{ form_row(contactForm.a_password) }}
                            </div>
                            <div class="col-12">
                                <ul class="actions">

                                    <li><input type="submit" value="Abschicken" class="primary"></li>
                                </ul>
                            </div>
                            {{ form_end(contactForm) }}

                </div>
            </div>
        </section>

    </div>



{% endblock %}