{{ form_start(diaryForm) }}
    {{ form_errors(diaryForm) }}
    {{ form_row(diaryForm.title, {'label': 'Eintragstitel'}) }}
    {{ form_row(diaryForm.content, {
        'label': 'Inhalt',
        'attr': {
            'rows': '15'
        }}) }}
    {{ form_row(diaryForm.timestamp_when, {'label': 'Eintragsdatum'}) }}
<button class="btn btn-primary">{{ button_text }}</button>
{{ form_end(diaryForm) }}
