{% extends 'app/base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="mb-5">
        <div class="text-center">
            <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Tagebuchübersicht</h1>
            <p class="mb-4">Untenstehend findest du alle deine erfassten Tagebucheinträge. <br />Zusätzlich kannst du auf das Pluszeichen <i class="fas fa-plus-circle"></i> klicken, um einen neuen Anfall zu erstellen</p>

            <a href="{{ path('diaryentry_new') }}"><i class="fas fa-plus-circle fa-3x" style="color: #EEA034"></i></a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Erfasste Tagebucheinträge</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name="date" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Eintragsdatum</th>
                        <th>Erstelldatum</th>
                        <th>Zuletzt bearbeitet</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for diaryentry in diaryentries %}
                        <tr>
                            <td>{{ diaryentry.title }}</td>
                            <td>{{ diaryentry.timestampWhen ? diaryentry.timestampWhen|date('d.m.Y') : '' }}</td>
                            <td>{{ diaryentry.createdAt ? diaryentry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ diaryentry.modifiedAt ? diaryentry.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('diaryentry_show', {'id': diaryentry.id}) }}">Anzeigen</a>
                                <a href="{{ path('diaryentry_edit', {'id': diaryentry.id}) }}">Bearbeiten</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Keine Tagebucheinträge vorhanden</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}