
{% extends 'app/base.html.twig' %}

{% block body %}
<div class="container">
    <!-- Page Heading -->
    <div class="mb-5">
        <div class="text-center">
            <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Profilübersicht von {{ app.user.firstname }}</h1>
            <p class="mb-4">Hier findest du alle Informationen über dein Profil</p>
        </div>
    </div>

    <!-- DataTales Example -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7" id="AreaChart">
        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profilinformationen</h6>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-12 order-md-1">
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Vorname</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="{{ user.firstname }}" disabled>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Nachname</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="{{ user.lastname }}" disabled>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">E-Mail Adresse</label>
                            <input type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="registeredAt">Account erstellt am</label>
                            <input type="text" class="form-control" id="registeredAt" value="{{ app.user.agreedTermsAt|date('d.m.Y') }} um {{ app.user.agreedTermsAt|date('H:i') }} Uhr" disabled>

                        </div>
                        <hr class="mb-4">
                        <div class="text-center">
                            <div class="custom-control custom-checkbox">
                                {% if app.user.roles.0 == 'ROLE_ADMIN' %}
                                    <input type="checkbox" class="custom-control-input" id="isAdmin" checked disabled>
                                {% else %}
                                    <input type="checkbox" class="custom-control-input" id="isAdmin" disabled>
                                {% endif %}
                                <label class="custom-control-label" for="isAdmin">User ist Administrator</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                {% if app.user.deactivated == true %}
                                    <input type="checkbox" class="custom-control-input" id="isDeactivated" checked disabled>
                                {% else %}
                                    <input type="checkbox" class="custom-control-input" id="isDeactivated" disabled>
                                {% endif %}
                                <label class="custom-control-label" for="isDeactivated">Dieser Benutzer wurde deaktiviert</label>
                            </div>
                        </div>

                        <hr class="mb-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
