<!DOCTYPE HTML>
<html lang="de">
    <head>
        <title>{% block title %}epilepc - Hilf dir bei Epilepsie!{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="Bei epilepc.ch findest du sämtliche Werkzeuge und Tools, welche du benötigst um deine Epilepsie-Behandlung effektiv und sicher zu begleiten!"/>
        <meta name="google-site-verification" content="vsAN2S_WxCAVkKug_CtoXwc_LWoo3VzVPZH21KsDUb8" />
        <meta property="og:title" content="epilepc - Hilf dir bei Epilepsie!"/>
        <meta property="og:url" content="https://www.epilepc.ch"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://www.epilepc.ch/landing/images/small.png"/>
        <meta property="og:description" content="Bei epilepc.ch findest du sämtliche Werkzeuge und Tools, welche du benötigst um deine Epilepsie-Behandlung effektiv und sicher zu begleiten!"/>
        <meta property="og:updated_time" content="1559635102"/>
        <meta property="og:image:alt" content="epilepc"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('landing/assets/css/main.css') }}" />
            <link rel="shortcut icon" type="image/png" href="{{ asset('landing/images/favicon.ico') }}"/>
            <noscript><link rel="stylesheet" href="{{ asset('landing/assets/css/noscript.css') }}" /></noscript>
        {% endblock %}

    </head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><a href="{{ path('app_landingpage') }}"><img src="{{ asset('landing/images/rund-logo.svg') }}" alt="epilepc" /></a></span>
        <h1>epilepc</h1>
        <p>Nimm die Kontrolle über dein Leben wieder in die Hand.</p>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </header>

{% block body %}{% endblock %}

<!-- Footer -->
<footer id="footer">
    <section>
        <h2>Über uns</h2>
        <p>Der Startschuss von epilepc wurde während der Abschlussarbeit zum dipl. Techniker Informatik HF gelegt. <br />
            Erklärtes Ziel ist es für Personen die unter Epilepsie (Zukünftig auch weitere chronische Krankheiten) leiden, eine sichere Dokumentationsplattform zur Verfügung zu stellen. <br />
            Dieses Werkzeug soll dabei helfen, selbständig das Ruder wieder in die Hand zu nehmen und die eigene "Genesung" aktiv zu unterstützen.<br /> <br />

        </p>
    </section>
    <section>
        <h2>Unterstützer und Sponsoren</h2>
        <p>Haben Sie Fragen? Möchten Sie unser Produkt unterstützen oder Sponsor werden?</p>
        <p>Dann schreiben Sie uns eine Email an <b><a href="mailto:support@epilepc.ch">support@epilepc.ch</a></b> oder benutzen Sie unser <b><a href="{{ path('contact') }}">Kontaktformular</a></b></p>


    </section>

    <p class="copyright">&copy; {{ "now"|date("Y") }} - epilepc <br> <a href="{{ path('app_landingpage_datenschutz') }}">Datenschutzerklärung</a> - <a href="{{ path('app_landingpage_releasenotes') }}">Releasenotes</a></p>
</footer>
{% block javascripts %}
    <script src="{{ asset('landing/assets/js/one-js.min.js') }}"></script>
    <!--<script src="{{ asset('landing/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/util.js') }}"></script>
    <script src="{{ asset('landing/assets/js/main.js') }}"></script>-->
{% endblock %}
</div>
</body>
</html>
