<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Willkommen bei epilepc.ch{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('landing/assets/css/main.css') }}" />
            <link rel="shortcut icon" type="image/png" href="{{ asset('landing/images/favicon.ico') }}"/>
            <noscript><link rel="stylesheet" href="{{ asset('landing/assets/css/noscript.css') }}" /></noscript>
        {% endblock %}

    </head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><a href="{{ path('app_landingpage') }}"><img src="{{ asset('landing/images/rund-logo.svg') }}" alt="" /></a></span>
        <h1>epilepc</h1>
        <p>Nimm die Kontrolle über dein Leben wieder in die Hand.</p>
    </header>

{% block body %}{% endblock %}

<!-- Footer -->
<footer id="footer">
    <section>
        <h2>Über uns</h2>
        <p>Diese Applikation ist im Rahmen meiner Diplomarbeit an der TSBE zum Informatiker HF entstanden. <br />Das Ziel ist es, an Epilepsie leidende Personen kostenlose Werkzeuge in die Hand zu geben, um selber gegen Epilepsie aktiv zu werden.<br /> <br />
        </p>
    </section>
    <section>
        <h2>Unterstützer und Sponsoren</h2>
        <p>Haben Sie Fragen? Möchten Sie unser ehrenamtliches Projekt unterstützen oder Sponsor werden?<br />Dann melden Sie sich bei uns!</p>
        <p>
            <b><a href="#Todo">Zum Kontaktformular</a></b>
        </p>
        <p>Sie finden uns auch auf den folgenden sozialen Netzwerken:</p>
        <ul class="icons">
            <!--<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>-->
            <li><a href="https://github.com/danileau/epilepc" target="_blank" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
        </ul>
    </section>
    <p class="copyright">&copy; {{ "now"|date("Y") }} - epilepc</p>
</footer>
{% block javascripts %}
    <script src="{{ asset('landing/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('landing/assets/js/util.js') }}"></script>
    <script src="{{ asset('landing/assets/js/main.js') }}"></script>
{% endblock %}
</div>
</body>
</html>