{% extends 'landing/base.html.twig' %}

{% block body %}

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#intro" class="active">Wieso epilepc</a></li>
                <li><a href="#first">Funktionen</a></li>
                <li><a href="#second">Sicherheit</a></li>
                <li><a href="#cta">Los geht's</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Introduction -->
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Wieso epilepc?</h2>
                        </header>
                        <p>
                            Bei epilepc.ch findest du sämtliche Werkzeuge und Tools, welche du benötigst um deine Epilepsie-Behandlung effektiv und sicher zu begleiten!
                            Oftmals fehlen den behandelnden Ärzten die nötigen Informationen, um die Epilepsie effektiv behandeln zu können. Und diese Informationen können nur wir,
                            die Betroffenen sammeln. Genau dabei unterstützt dich epilepc!
                        </p>
                        <ul class="actions">
                            <li><a href="{{ path('app_landingpage_wieso') }}" class="button">Mehr dazu</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('landing/images/small.png') }}" alt="epilepc" /></span>
                </div>
            </section>

            <!-- First Section -->
            <section id="first" class="main special">
                <header class="major">
                    <h2>Funktionen</h2>
                </header>
                <ul class="features">
                    <li>
                        <span class="icon major style1 fa-bolt"></span>
                        <h3>Anfälle dokumentieren</h3>
                        <p>Dokumentiere alle deine Anfälle in epilepc! So kannst du dir bequem einen Überblick beschaffen, wie es dir während des letzten Monates gegangen ist oder
                            sogar Auffälligkeiten entdecken!</p>
                    </li>
                    <li>
                        <span class="icon major style2 fa-book"></span>
                        <h3>Tagebuch führen</h3>
                        <p>Mit der Tagebuchfunktion kannst du hier alle deine Gedanken festhalten und zu einem späteren
                            Zeitpunkt wieder lesen.</p>
                    </li>
                    <li>
                        <span class="icon major style5 fa-bar-chart"></span>
                        <h3>Übersicht generieren</h3>
                        <p>Generiere bequem eine PDF-Datei mit allen Informationen, die du deinem Arzt mitgeben möchtest und bring es mit zur nächsten Sprechstunde! <br>
                            Mit intuitiven Diagrammen kann dein Arzt schnell sehen, wie sich die letzte Anpassung der Medikation ausgewirkt hat.
                        </p>
                    </li>
                </ul>

                <p><b>Und noch vieles mehr!</b></p>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="{{ path('app_landingpage_functions') }}" class="button">Mehr dazu</a></li>
                    </ul>
                </footer>
            </section>

            <!-- Second Section -->
            <section id="second" class="main special">
                <header class="major">
                    <h2>Sicherheit</h2>
                    <p>Wenn es etwas gibt, das wir mit Sicherheit wissen, dann ist es folgendes:<br />
                        Hier werden sensible und schützenswerte Daten gespeichert. Und wir sind verpflichtet darauf aufzupassen! <br />
                        Alle vom epilepc-Benutzer eingegebenen Daten werden ausschliesslich verschlüsselt übermittelt und zusätzlich verschlüsselt in unserer Datenbank gespeichert. <br />
                        Erst beim Auslesen der Daten durch den Verfasser, werden diese entschlüsselt und in Klartext angezeigt.<br />
                        Sämtliche Infrastruktur und Daten werden in der Schweiz gespeichert und betrieben.

                    </p>
                </header>

            </section>

            <!-- Get Started -->
            <section id="cta" class="main special">
                <header class="major">
                    <h2>Los geht's</h2>
                    <p>Keine Lust mehr dir von der Epilepsie dein Leben diktieren zu lassen?<br />
                        Möchtest du endlich wieder die Kontrolle übernehmen können?<br />
                        Dann registriere dich jetzt bei epilepc und unterstütze deine Ärzte mit detaillierten Informationen.</p>

                    <p>Und das Beste an der ganzen Sache:<br /><b><u>Alles ist kostenlos!</u></b></p>
                </header>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="{{ path('app_register') }}" class="button primary">Registrieren</a></li>
                        <li><a href="{{ path('app_login') }}" class="button">Einloggen</a></li>
                    </ul>
                </footer>
            </section>

        </div>



{% endblock %}