{{ form_start(eventForm) }}
    {{ form_errors(eventForm) }}
    {{ form_row(eventForm.name, {'label': 'Ereignisname'}) }}
    {{ form_row(eventForm.description, {'label': 'Beschreibung',
        'attr': {
            'rows': '10'
        }})
    }}
    {{ form_row(eventForm.timestamp_when, {'label': 'Ereignisdatum'}) }}

<button class="btn btn-primary">{{ button_text }}</button>
{{ form_end(eventForm) }}