{% extends 'app/base.html.twig' %}
{% block title %}{% trans %}Ereignis bearbeiten{% endtrans %}{% endblock %}

{% block body %}
<!-- Page Heading -->
<div class="mb-5">
    <div class="text-center">
        <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">{% trans %}Ereignis{% endtrans %} #{{ event.id }} {% trans %}bearbeiten{% endtrans %}</h1>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">

                {{ include('app/event/_form.html.twig', {'button_text': 'Updaten'|trans}) }}
                <br/>
                <div class="form-group text-center">

                    <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('{% trans %}Bist du sicher, dass du dieses Ereignis löschen willst?{% endtrans %}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                        <a class="btn btn-dark" href="{{ path('event_index') }}">{% trans %}Zurück zur Übersicht{% endtrans %}</a>
                        <button class="btn btn-danger">{% trans %}Ereignis löschen{% endtrans %}</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
