{% extends 'app/base.html.twig' %}

{% block title %}Epilepc - {% trans %}Ereignisübersicht{% endtrans %}{% endblock %}
{% block body %}
    <!-- Page Heading -->
    <div class="mb-5">
        <div class="text-center">
            <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">{% trans %}Ereignis - Übersicht{% endtrans %}</h1>
            <p class="mb-4">{% trans %}Untenstehend findest du alle deine erfassten{% endtrans %} {% trans %}Ereignisse{% endtrans %}. <br />{% trans %}Zusätzlich kannst du auf das Pluszeichen{% endtrans %} <i class="fas fa-plus-circle"></i> {% trans %}klicken, um ein neues Ereignis zu erstellen{% endtrans %}</p>

            <a href="{{ path('event_new') }}" title="{% trans %}Neues Ereignis erstellen{% endtrans %}"><i class="fas fa-plus-circle fa-3x text-event"></i></a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-event">{% trans %}Erfasste Ereignisse{% endtrans %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name="date" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th>{% trans %}Ereignisname{% endtrans %}</th>
                        <th>{% trans %}Beschreibung{% endtrans %}</th>
                        <th>{% trans %}Ereignisdatum{% endtrans %}</th>
                        <th>{% trans %}Zuletzt bearbeitet{% endtrans %}</th>
                        <th>{% trans %}Aktionen{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td data-search="{{ event.name }}"><a href="{{ path('event_show', {'id': event.id}) }}" class="text-event" title="{% trans %}Anzeigen{% endtrans %}"><i class="fas fa-fw fa-search"></i> {{ event.name }}</a></td>
                            <td data-search="{{ event.description }}">{{ event.description|length > 50 ? event.description|slice(0, 50) ~ '...' : event.description}}</td>
                            <td data-order="{{ event.timestampWhen|date('U') }}">{{ event.timestampWhen ? event.timestampWhen|date('d.m.Y') : '' }}</td>
                            <td data-order="{{ event.modifiedAt|date('U') }}">{{ event.modifiedAt ? event.modifiedAt|date('d.m.Y H:i') : '' }} {% trans %}Uhr{% endtrans %}</td>
                            <td align="center">
                                <a href="{{ path('event_edit', {'id': event.id}) }}" title="{% trans %}Bearbeiten{% endtrans %}" class="text-event"><i class="fas fa-fw fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{% trans %}Keine Ereignisse vorhanden{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('application/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('application/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('application/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset('application/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('application/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('application/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
{% endblock %}
{% block zusStylesheets %}
    <link href="{{ asset('application/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block jsCharts %}
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').DataTable( {
            "language": {
                "url": "{{ asset('application/json/German.json'|trans) }}"
            },
            "order": [[ 2, "desc" ]]
        });
    });

{% endblock %}

